html {
  max-width: 1280px;
  margin: 0 auto;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  color: #fff;
}

header {
  padding: 30px 40px 0 40px;
  background-image: url('./imgs/start-screen-background.jpg');
  display: grid;
  grid-template-areas:
    'title nav'
    'h2Header headerDogPic';
  grid-template-columns: 5fr 7fr;
  grid-template-rows: 60px 11fr;
  row-gap: 90px;
  height: 908px;
  margin-bottom: 80px;
}

.title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_title {
  font-size: 32px;
  color: #f1cdb3;
  line-height: 110%;
  letter-spacing: 1.92px;
}

.logo_subtitle {
  font-family: Arial;
  font-size: 13px;
  letter-spacing: 1.3px;
  margin-left: 4px;
}

.nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Arial;
  font-size: 15px;
  letter-spacing: 0.05px;
  color: #cdcdcd;
}

.nav > nav > ul {
  display: flex;
}

.nav > nav > ul > li {
  margin-right: 35px;
  cursor: pointer;
  user-select: none;
}

.nav > nav > ul > li:last-child {
  margin-right: 0;
}

.header_left_panel {
  grid-area: h2Header;
  align-items: flex-start;
  max-width: 460px;
  display: grid;
  grid-template-rows: 277px 72px 2fr;
  row-gap: 42px;
}

.header_left_panel div {
  display: flex;
  height: 100%;
  width: 400px;
  align-items: flex-end;
}

header h2 {
  font-size: 44px;
  line-height: 130%;
}

.header_left_panel p {
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
}

.header_left_panel button {
  padding: 15px 45px;
  color: #292929;
  border-radius: 100px;
  background: #f1cdb3;
  font-size: 17px;
  letter-spacing: 1.02px;
  width: 208px;
  margin-top: 1px;
}

.headerDogPic {
  grid-area: headerDogPic;
}
/* Main */

/* Section 1 */

section p,
section h3 {
  color: #4c4c4c;
}

.aboutPets {
  display: grid;
  grid-template-columns: 595px 1fr;
  padding: 0 40px;
  margin-bottom: 100px;
}

.aboutPets img {
  margin: 0 30%;
}

.aboutPets h3 {
  font-size: 35px;
  letter-spacing: 2.1px;
  line-height: 130%;
  width: 350px;
  margin-top: 14px;
}

.aboutPets p {
  width: 425px;
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
}

.aboutPets div * {
  margin-bottom: 25px;
}

.aboutPets div *:last-child {
  margin-bottom: 0;
}

/* section 2 */

.sliderWrapper {
  background: #f6f6f6;
  position: relative;
  padding: 0 55px 0 40px;
  margin-bottom: 86px;
}

.titleWrapper {
  margin-left: 15px;
  padding-top: 80px;
  width: 955px;
}

.sliderWrapper h3 {
  text-align: center;
  font-size: 35px;
  letter-spacing: 2.1px;
  line-height: 130%;
}

.sliderWrapper h3:last-child {
  margin-bottom: 60px;
}

.slider {
  display: flex;
  overflow: hidden;
  margin-left: 15px;
  margin-bottom: 60px;
}

.slider div {
  height: 435px;
  width: 270px;
  flex-shrink: 0;
  margin-left: 90px;
  border-radius: 9px;
  background: #fafafa;
  display: flex;
  flex-direction: column;
}

.slider div * {
  margin-bottom: 30px;
}

.slider div p {
  font-size: 20px;
  text-align: center;
  letter-spacing: 1.2px;
}

.slider div button {
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  color: #292929;
  padding: 15px 45px;
  font-size: 17px;
  letter-spacing: 1.02px;
  margin: 0 38px;
}

.slider div:last-child {
  margin-left: 0;
}

.btn_left,
.btn_right {
  position: absolute;
  padding: 16px 16px;
  border-radius: 100%;
  border: 2px solid #f1cdb3;
  color: #292929;
  top: 43%;
}

.btn_left {
  left: 40px;
}

.btn_right {
  right: 40px;
}

.rest_btn {
  padding: 15px 41px;
  border-radius: 100px;
  background: #f1cdb3;
  color: #292929;
  position: relative;
  left: 40%;
  letter-spacing: 1.02px;
  font-size: 17px;
  margin-bottom: 100px;
}

/* section 3 */

.helpWrapper {
  padding: 0 40px;
  margin-bottom: 100px;
}

.helpTitleWrapper h3 {
  font-size: 35px;
  letter-spacing: 2.1px;
  text-align: center;
  margin-bottom: 60px;
}

.helpTitleWrapper h3:first-child {
  margin-bottom: 5px;
}

.helpIconsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 87px;
}

.helpIconsWrapper > div {
  height: 115px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

.helpIconsWrapper div:last-child {
  margin-right: 0;
}

.helpIconsWrapper > div > img {
  width: 60px;
  height: 60px;
}

.helpIconsWrapper > div > p {
  font-size: 20px;
  letter-spacing: 1.2px;
}
